<div class="row my-3">
  <div class="col-12">
    <%= simple_form_for dose do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit class: 'btn-elegant' %>
    <% end %>
  </div>
</div>
